/*#bs-example-navbar-collapse-1 a.active {
    background-color: dodgerblue;
    color: white;
}

#bs-example-navbar-collapse-1 a:hover {
    background-color: #008cff;
    color: white;
    border-radius: 10px;
}
*/
.level {
    border: 5px solid #0264b4;
    border-radius: 180px;
    width: 180px;
    height: 180px;
    background-color: #008cff;
    color: whitesmoke;

    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    line-height: 170px;
    font-weight: bold;
    text-transform: uppercase;

}

.level a{
    color: whitesmoke;
}

.level a:hover {
    color: deeppink;
    text-decoration: none;

}
