.container
{
    margin-top: 70px;
    padding: 50px;
    background-color: white;
    border-radius: 2rem;
}
h1
{
    text-align: center;
    font-size: 40pt;
}
h2
{
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
}
.centrarimagen
{
    display: block;
    margin: auto;
}
.negrita
{
    font-weight: bolder;
}
.sub
{
    text-decoration: underline;
}
.cursiva
{
    font-style: italic;
}
.enfasis
{
    font-weight: bolder;
    font-size: 24pt;
}
.ticks
{
    list-style: none;
}
ul.ticks li::before
{
    content: "✓  ";
}
.mayus
{
    list-style-type: upper-latin;
}
.minus
{
    list-style-type: lower-latin;
}
.numeros
{
    list-style-type: decimal;
}
.manita
{
    list-style: none;
}
ul.manita li::before
{
    content: "☛  ";
}
.carita
{
    list-style: none;
}
ul.carita li::before
{
    content: "☺  ";
}
.cuadro
{
    border: 1px solid blue;
    border-radius: 15px;
    width: 600px;
    padding: 2%;
    margin-top: 30px;
    background-color: orangered;
}
.romanos
{
    list-style-type: upper-roman;
}
q
{
    display: block;
    margin: auto;
    font-style: italic;
}
.tablacentro
{
    text-align: center;
    margin: 0 auto;
}
#tgrande th, #tgrande td
{
    padding: 4px;
    color: black;
}
#tgrande th, #tablapsico th
{
    background-color: lightblue;
}
#tgrande td, #tablapsico td
{
    background-color: limegreen;
}
.profe
{
    float: left;
}
.modulo
{
    float: right;
}